
<div id="page-wrapper">
  <%= render partial: 'shared/header' %>
	<!-- These will go to the content of the home page -->

	<section id="page-content">

		<%= render partial: 'shared/navigation' %>

	  <section id="vio-all-forms" >

	  	<form id="vio-product-edit-form" class="vio-section initial-hide vio-form">

	  		<legend> Edit Product </legend>

	  		<fieldset>

	  			<div class="form-element">
		  			<label for="form-edit-input-name"> Name :  </label>
		  			<input type="text" id="form-edit-input-name" />
	  			</div>

	  			<div class="form-element">
		  			<label for="form-edit-input-price"> Price :  </label>
		  			<input type="text" id="form-edit-input-price" />
	  			</div>

	  			<div class="form-element">
		  			<label for="form-edit-input-price"> Landing Url :  </label>
		  			<input type="text" id="form-edit-input-price" />
	  			</div>

	  			<div class="form-element form-option-buttons">
	  				<button data-toggle="dropdown" class="btn btn-cant-think-of-a-name-5"> Save </button>
	  				<button data-toggle="dropdown" class="btn btn-cant-think-of-a-name-5 edit-form-btn-cancel"> Cancel </button>	  				
	  			</div>

	  		</fieldset>


	  	</form>

	  	<form id="vio-create-landing-form" class="vio-section initial-hide vio-form">

	  		<legend> Create Landing Page </legend>

	  		<fieldset>

	  			<div class="form-element">
		  			<label for="form-edit-input-name"> Landing Page Url :  </label>
		  			<input type="text" id="form-edit-input-name" />
	  			</div>

	  			<div class="form-element">
		  			<label for="form-edit-input-price"> Price :  </label>
		  			<input type="text" id="form-edit-input-price" />
	  			</div>

	  			<div class="form-element form-option-buttons">
	  				<button data-toggle="dropdown" class="btn btn-blue-3"> Save </button>
	  				<button data-toggle="dropdown" class="btn btn-blue-3 edit-form-btn-cancel"> Cancel </button>	  				
	  			</div>

	  		</fieldset>


	  	</form>

	  </section>



	<!-- End of page content -->
	</section>


</div>
<!-- 
<%= link_to image_tag("https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif"), express_path(product_id: @product.id) %>
 -->
