<h1> Order Confirmation #<%= @order.number %> </h1> 
<hr>
Your purchase of <%= @order.product.name %> is complete. Thank you for ordering!
<br/>
An order confirmation email will be sent to <%= @order.buyer_email %> shortly.