<nav class="navbar">
	<div class="navbar-inner">
	 <ul id="vio-tab-links" class="nav">
	   <li class="active"> <%= link_to 'Inventory', products_path %>  </li>
	   <li> <%= link_to 'Landing Page', 'landing_pages_path'%> </li>
	   <li> <%= link_to 'My Profile', 'profile_path' %> </li>
	 </ul>
	</div>
</nav>
