
<div class="content affiliate-confirmation">
	<h3>Thank you for registering for the Juice in the City<br />affiliate program!</h3>
	<p>We will contact you shortly to get you started!</p>
	
	<p class="return"><a href="/">Return to main page &raquo;</a></p>
</div>
