<div class="tab-pane active" id="#profile">


	<dl class="dl-horizontal">
	  <dt><strong> Paypal Email :</strong></dt>
	  <dd><%= @paypal_email  %></dd>
	</dl>

  <div class="form-actions">
    <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_profile_path, :remote => true, :class => 'btn btn-mini' %>
  </div>

</div>