<div class="vio-product-grid clearfix vio-section">
	<h1> Paypal Email </h1>

	<div class="vio-grid-element"> <%= @paypal_email %> </div>

	<div>
		<%= link_to 'Edit', profile_edit_path, class: 'btn btn-primary' %>	
		<%= link_to 'Back',
              products_path,
              :class => 'btn' %>
  </div>

</div>