<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Your Purchase of 'Product Name'</h1>
    <p>
      Your order confirmation number is <%= @order.number %>
      <br/>
    </p>
    
    <p>
      You can download your book at : 'http://www.example.com'.
      <br/>
    </p>
  
    <p>Thanks for your purchase and have a great day!</p>

Please note that your purchase will appear as 'JKASS' on your credit card.

  </body>
</html>